/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Signika:400,700);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Signika', arial, sans-serif;
}

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
	background: #ededed;
	padding: 0 4em;

	@media (max-width: 750px) {
		padding: 0 2em;
	}
}

.header {
	text-align: center;
}

.nav {
	@include font-size(14);
	
	.nav-item {
		display: inline-block;
	}

	.nav-link {
		color: #333;
		text-decoration: none;
	}

	.nav-link:hover {
		text-decoration: underline;
	}
}

.main-header {
	@include font-size(48);
}


.home-wrapper {
	margin-top: 40px;

	.home-header {
		@include font-size(24);
	}

	.home-intro {
		@include font-size(16);
	}
}

.form-section {
	display: block;
}

.form-wrapper,
.results-wrapper {
	margin-top: 20px;
	@include font-size(14);
	box-sizing: border-box;
}


.form-wrapper {

	.ng-submitted input.ng-invalid {
		border: 1px solid #e9322d;
	}
	
	legend {
		@include font-size(24);		
		border-color: #333;
	}

	.pure-form {
		box-sizing: border-box;
		border: 2px solid #333;
		padding: 20px;
		background-color: #fff;
	}

	.form-el-wrapper {
		position: relative;

		.error {
			color: #e9322d;
			position: absolute;
			top: 30px;
			left: 180px;

			@media (max-width: 750px) {
				position: static;
			}
		}
	}
}

.results-wrapper {
	h2 {
		@include font-size(24);		
		border-bottom: 1px solid #333;
	}

	.day-results,
	.savings-total {
		box-sizing: border-box;
		border: 2px solid #333;
		padding: 20px;
		background-color: #fff;
	}

	.day-results {
		margin-bottom: 47px;
	}
}

.reset-button {
	@include font-size(14);
	display: block;
	float: right;
	margin-top: 10px;
}

@media (max-width: 750px) {
	.pure-u-3-5,
	.pure-u-2-5 {
		width: 100%;
	}
}

/* Loading gif for changing routes */
.loading {
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../img/loading-animation.gif');
}

/* View animations */
.animate-view-container { 
  position:relative; 
  min-height: 100%; 
}

.animate-view.ng-enter,
.animate-view.ng-leave {
  transition:.5s linear all;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#eee;
}

.animate-view.ng-enter { 
  opacity:0; 
  z-index:100; 
}

.animate-view.ng-enter.ng-enter-active { 
  opacity:1; 
}
.animate-view.ng-leave { 
  opacity:1; 
  z-index:99; 
}

.animate-view.ng-leave.ng-leave-active { 
  opacity:0; 
}


